.drawer {
    @extend %invisible;
    height:100%;
    position:fixed;
    width:100%;
    z-index: 9999;

    nav {
        padding:25% 30px;
        
    }

    a {
        color:$white;
        font-size:36px;
        display:block;
        text-align:center;
    }

    .drawer-active & {
        @extend %visible;
    }
}