/*
|--------------------------------------------------------------------------
| Modules / Form
|--------------------------------------------------------------------------
|
| Note: Notes will go here.
|
*/

input {
    &:not([type="submit"]),
    &[type="date"] {
        padding:5px 10px;
        margin-bottom:10px;
        border-radius:0;
        appearance:none;
        -moz-appearance:none;
        -webkit-appearance:none;
        min-height:45px;
        width:100%;
    }
    
    &[type="date"] {
        &:not(.has-value){
            &::before{ 
                content:attr(placeholder);
                color:lightgray;
            }
        }
    }
}