// ==========================================================================
// Module / Banner
// ==========================================================================
.banner {
	position:relative;
	background-position:center;
	background-repeat:no-repeat;
	background-size:cover;
	height: 100vh;
	max-height: 700px;

	&.short {
		height: 138.78px;
		padding: 0;
		@include breakpoint (medium down) {
			height: 116.77px;
		}
		@include breakpoint (small down) {
			height: 85.66px;
		}

		+ section {
			h1 {
				margin-top: 0;
			}
		}

		&.scroll {
			@include breakpoint (large up) {
				height: 95px;
			}
			@include breakpoint (medium) {
				height: 86px;
			}
			@include breakpoint (small) {
				height: 69.84px;
			}
		}
	}

	&::after {
		content:'';
		@include position(absolute,0,0,0,0);
		background-color:rgba($black, .85);
	}
}
